.about {
  background-color: #0a2850;
}

.about__title {
  color: #fff;
  font: inherit;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
}

.about__paragraph {
  color: #fff;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 80px;
}
