.header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  margin: 0;
}

.header__title {
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  padding: 202px 0 0;
  margin: 0;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  max-width: 683px;
  z-index: 1;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.header__paragraph {
  margin: 0;
  font-weight: 500;
  color: #838383;
}

.header__paragraph:last-child {
  align-self: flex-end;
}
