.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  /*font-family: "Noto Serif", "Times New Roman", serif;*/
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 30px 80px 40px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 125px;
  height: 142px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  max-width: 729x;
  font-size: ;
  line-height: 10px;
  font-weight: 500;
  margin: 202px 0 0;
}

.header__span-accent {
  font: italic;
  color: #2f80ed;
  display: block;
}

.header__description {
  max: width 683px;
  font-size: ;
  line-height: ;
  position: relative;
  top: 28px;
  left: 80px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}
