.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 125px;
  height: 142px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  padding: 202px 0 0;
  margin: 0;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  max-width: 683px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__paragraphs {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  margin: 0;
  padding: 0 80px;
}

.recipes__title {
  color: #fff;
  font: inherit;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  max-width: 580px;
  padding-top: 100px;
}

.recipes__subtitle {
  color: #fff;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 80px;
  max-width: 438px;
}

.recipes__videos {
  column-gap: 40px;
  width: 480px;
  height: 273px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.recipes_video {
  margin: 0 auto;
}

.recipes__iframe {
  margin: 0 auto;
}

.recipes__video-caption {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
  padding-bottom: 215px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  margin: 0;
  padding: 0 80px;
}

.reservation__title {
  font: inherit;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0 auto;
  max-width: 580px;
  padding-top: 100px;
}

.reservation__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
}

.form__fieldset {
  border-style: none;
}

.form__label {
  font: inherit;
}

.form__label_checkbox {
  display: flex;
  margin: 0;
}

.form__input {
  border-radius: 4px;
  margin: auto;
}

.form__input::placeholder {
  font-family: "inherit";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  border-radius: 4px;
  background-color: #2f80ed;
  color: #fff;
}

.form__checkbox {
  border-radius: 2px;
}
